.container h1 {
    text-align: center;
}

.inputStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inputStyle label {
    margin: 0 10px;
}

.inputStyle input{
    width: 200px;
}

